.vp-doc a[href^="https://www.youtube.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/youtube.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://www.bilibili.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/bilibili.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://www.planetminecraft.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/pmc.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://pan.quark.cn/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/quark.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://ifdian.net/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/aifadian.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://www.curseforge.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/curseforge.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://modrinth.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/modrinth.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://minecraft-mcworld.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/img/minecraft-mcworld.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://minecraft-inside.ru/"]:not(:has(img)):before {
    content: '';
    background-image: url(/img/minecraft-inside.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://discord.gg/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/discord.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://github.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/github.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://docs.qq.com/"]:not(:has(img)):before {
    content: '';
    background-image: url(/svg/docs_qq.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://www.mcmod.cn/"]:not(:has(img)):before {
    content: '';
    background-image: url(/img/mcmod.ico);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}